@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* map style */
svg path {
  cursor: pointer;
  transition:
    fill 0.3s ease,
    stroke 0.3s ease;
}

svg path:hover {
  fill: #ffd8a8 !important;
  stroke: #ffffff;
  stroke-width: 2px;
}

svg path:hover + text {
  fill: #000000;
  font-weight: bold;
}
